{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>MappCDMX Visualizer</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'mustache.js/mustache.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'webcomponentsjs/webcomponents-lite.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/polyline/polyline-encoder.js' %}"></script>
  		<link rel="import" href="{% static 'google-map/google-map.html' %}">
  		<link rel="import" href="{% static 'google-map/google-map-poly.html' %}">
  		<link rel="import" href="{% static 'iron-icons/iron-icons.html' %}">
  		<link rel="import" href="{% static 'iron-icons/communication-icons.html' %}">
  		<link rel="import" href="{% static 'paper-card/paper-card.html' %}">
  		<link rel="import" href="{% static 'paper-button/paper-button.html' %}">
  		<link rel="import" href="{% static 'paper-spinner/paper-spinner.html' %}">
  		<link rel="import" href="{% static 'paper-input/paper-input.html' %}">
  		<link rel="import" href="{% static 'iron-icon/iron-icon.html' %}">
  		<link rel="import" href="{% static 'paper-dialog/paper-dialog.html' %}">
  		<link rel="import" href="{% static 'paper-progress/paper-progress.html' %}">
  		<link rel="import" href="{% static 'neon-animation/animations/scale-up-animation.html' %}"/>
  		<link rel="import" href="{% static 'neon-animation/animations/fade-out-animation.html' %}"/>


		<style>
			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			google-map {
				height: 100%;
			}
			#controls {
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
    			-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 500px;
			}
			.control{
				width: 500px;
			}
			@media screen and (max-width:500px) {
				#controls{
					width: 100%;
				}
				.control{
					width: 100%;
				}
			}
		</style>
	</head>
	<body>
		<google-map latitude="19.432630" longitude="-99.133184" zoom="13" click-events></google-map>
		<paper-dialog entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal="true" id="loading">
			<h2>Cargando...</h2>
			<div>
				<paper-progress indeterminate="true"></paper-progress>
			</div>
		</paper-dialog>
		<script>
            /* global google */
            /* global Polymer */
            /* global Mustache */
			var mapp = mapp || {};
			mapp.MAP_STYLES_LUNAR_LANDSCAPE = [{"stylers":[{"hue":"#ff1a00"},{"invert_lightness":true},{"saturation":-100},{"lightness":33},{"gamma":0.5}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#2D333C"}]}];
			mapp.MAP_STYLE_NO_LABELS = [{"featureType":"all","elementType":"labels","stylers":[{"visibility":"off"}]}];
			mapp.MAP_STYLE_NO_POI = [{"featureType": "poi","stylers": [{ "visibility": "off" }]}];
			mapp.MAP_STYLE_NO_ARTERIAL = [{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]}];
			mapp.LANGUAGE = 'es';
			mapp.currentLocation = null;
			mapp.currentAddress;
			mapp.alerts = [];
			mapp.activeAlerts = {};

			document.querySelector('google-map').addEventListener('api-load', function(e) {
				mapp.map = this;
				this.map.setOptions({styles: mapp.MAP_STYLES_LUNAR_LANDSCAPE.concat(mapp.MAP_STYLE_NO_LABELS)});
				this.map.setOptions({mapTypeControl:false, backgroundColor: '#000'});
				this.panTo = mapp.ui.panTo;
				this.singleInfoWindow = true;

				this.addEventListener('google-map-click', function(e) {
                    // var marker = mapp.ui.setMarker(e.detail.latLng, null, "<h1>OK!</h1>");
                    // marker.draggable = true;
					// this.panTo(e.detail.latLng);
                });

                this.map.addListener('zoom_changed', function() {
					if (this.getZoom()>=16){
						this.setOptions({styles: mapp.MAP_STYLES_LUNAR_LANDSCAPE.concat(mapp.MAP_STYLE_NO_POI).concat(mapp.MAP_STYLE_NO_ARTERIAL)});
					}else{
						this.setOptions({styles: mapp.MAP_STYLES_LUNAR_LANDSCAPE.concat(mapp.MAP_STYLE_NO_LABELS)});
					}
				});
				$("#map").css('background-color','#262626');
			});

			window.onload = function(){
				var loadingModal = document.getElementById('loading')
				loadingModal.open();
				var lat = 19.420235;
				var lon = -99.176810;
				mapp.api.getAlertsAndRoutes(lat, lon, 200).pipe(
					function(response){
						loadingModal.close();
						for (var i=0; i<response.alerts.length; i++){
							var a = response.alerts[i];
							if (a.type != "JAM"){
								continue;
							}
							var alertPos = new google.maps.LatLng(a.location.y, a.location.x);
							var newAlert = {
								uuid: a.uuid,
								location: alertPos,
								reliability: a.reliability,
								street: a.street,
								type: a.subtype
							}
							console.log(newAlert.type);
							mapp.alerts.push(newAlert);
						}

						for (var i=0; i<response.routes.length; i++){
							var myAlert;
							var myColor = 'lightblue';
							var myPoly;
							var r = response.routes[i];
							var latLngArray = mapp.utils.genArray(r.points);
							var options = {
								"strokeWeight": "7",
								"strokeColor": "black",
							};
							myPoly = mapp.ui.drawPath(latLngArray, options);
							for (var j=0; j<mapp.alerts.length; j++){
								var p = new google.maps.Polyline({path: mapp.utils.genPoly(latLngArray)})
								if(google.maps.geometry.poly.isLocationOnEdge(mapp.alerts[j].location, p,  0.001)){
									myAlert = mapp.alerts[j];
									r.alert = myAlert
									switch (myAlert.type) {
										case 'JAM_STAND_STILL_TRAFFIC':
											myColor = 'red';
											break;
										case 'JAM_HEAVY_TRAFFIC':
											myColor = 'orange';
											break;
										case 'JAM_MODERATE_TRAFFIC':
											myColor = 'yellow';
											break;
										default:
											break;
									}
									if (myAlert.uuid in mapp.activeAlerts){
										mapp.activeAlerts[myAlert.uuid].routes.push(r.longName);
									} else {
										mapp.activeAlerts[myAlert.uuid] = myAlert;
										mapp.activeAlerts[myAlert.uuid].routes = [r.longName];
									}
									break;
								}
								r.info = mapp.ui.setInfoWindow(myPoly, "Hola");
								
							}
							var options = {
								"strokeWeight": "6",
								"strokeColor": myColor,
							};
							r.path = mapp.ui.drawPath(latLngArray, options);
							
							$.each( mapp.activeAlerts, function( uuid, obj ) {
								mapp.activeAlerts[uuid].marker = mapp.ui.setMarker(myAlert.location, null, "<h1>OK!</h1>");
							});	
						}
						mapp.routes = response.routes;
						mapp.ui.panTo(new google.maps.LatLng(lat, lon));
					});
					function doStuff(index) {
						var indexes = Object.keys(mapp.activeAlerts);
						if (index>indexes.length){
							return;
						}
						var uuid = indexes[index];
						var point = mapp.activeAlerts[uuid].location;
						mapp.ui.panTo(point);
						index++;
						
						setInterval(function(){doStuff(index)}, 10 * 1000);
					}
					setInterval(function(){doStuff(0)}, 10 * 1000);
				//mapp.utils.requestGeolocation();
			}

			mapp.ui = {} || mapp.ui;

			mapp.ui.setMarker = function(position, image, info){
                var marker = document.createElement('google-map-marker');
                marker.latitude = position.lat();
                marker.longitude = position.lng();
                console.log('google.maps.LatLng(',marker.latitude, ", ",marker.longitude, '),');
                marker.icon = image;
                marker.clickEvents = true;
                Polymer.dom(mapp.map).appendChild(marker);
                if (info){
					var infoWindow = mapp.ui.setInfoWindow(marker, info)
					marker.info = infoWindow;
                }
                return marker;
            }

            mapp.ui.panTo = function(latLng){
            	mapp.map.zoom = 16;
				mapp.map.latitude = latLng.lat();
                mapp.map.longitude = latLng.lng();
			}

            mapp.ui.setInfoWindow = function(marker, info){
                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setContent(info);
                marker.addEventListener('google-map-marker-click', function() {
                    infoWindow.open(mapp.map.map, this.marker);
                });
                return infoWindow;
            }

            mapp.ui.drawPath = function(latLngArray, options){
            	/* options = {strokeWeight:integer(0,100)*, strokeColor:Color*, fillColor:Color*, fillOpacity:float(0,1.0)*, isClosed(boolean)*, icons:google.maps.IconSequence[]*} */
            	var googleMapPoly = document.createElement('google-map-poly');
            	if (options.isClosed){
            		googleMapPoly.setAttribute('closed', '');
            		if(options.fillOpacity){
            			googleMapPoly.setAttribute('fill-opacity',options.fillOpacity);
            		}
            		if(options.fillColor){
            			googleMapPoly.setAttribute('fill-color', options.fillColor);
            		}
            	}
            	if (options.strokeWeight){
            		googleMapPoly.setAttribute('stroke-weight', options.strokeWeight);
            	}
            	if (options.strokeColor){
            		googleMapPoly.setAttribute('stroke-color', options.strokeColor);
            	}
				if (options.icons){
					googleMapPoly.icons = options.icons;
				}
            	for (var i in latLngArray){
            		var googleMapPoint = document.createElement('google-map-point');
					googleMapPoint.setAttribute('latitude', latLngArray[i].lat());
					googleMapPoint.setAttribute('longitude', latLngArray[i].lng());
					Polymer.dom(googleMapPoly).appendChild(googleMapPoint);
            	}
            	Polymer.dom(mapp.map).appendChild(googleMapPoly);
            	return googleMapPoly;
            }
            
            mapp.api = {} || mapp.api;
            
            mapp.api.getAlerts = function(maxLat, maxLon, minLat, minLon){
            	var data = {
            		ma: 600,
            		mj: 100,
            		mu: 100,
            		left: minLon,
            		right: maxLon,
            		bottom: minLat,
            		top: maxLat
            	}
            	return $.get('/api/alerts', data);
            }
            
            mapp.api.getStops = function(lat, lng){
            	var data = {
            		lat: lat,
            		lon: lng,
            		radius: 100
            	};
            	return $.get('/api/stops', data);
            }
            
            mapp.api.getRouteThatHasStopID = function(stopId){
            	var data = {
            		hasStop: stopId
            	};
            	return $.get('/api/routes', data);
            }
            
            mapp.api.getRouteGeometry = function(routeId){
            	return $.get('/api/routes/'+routeId+'T0/geometry');
            }
            
            mapp.api.getAlertsAndRoutes = function(lat, lng, radius){
            	var data = {
            		lat: lat,
            		lon: lng,
            		radius: radius
            	}
            	return $.get('/api/alertRoutes/', data);
            }

            mapp.utils = {} || mapp.utils;

            mapp.utils.SECONDS_FACTOR = 1000;
            mapp.utils.MINUTES_FACTOR = 60 * mapp.utils.SECONDS_FACTOR;

            mapp.utils.requestGeolocation = function() {
				var geoOptions = {
					enableHighAccuracy: true,
					timeout: 10 * mapp.utils.SECONDS_FACTOR,
					maximumAge: 15 * mapp.utils.MINUTES_FACTOR,
				}
				var geoError = function(error) {
					var getStr = mapp.lang.getStr;
					var errorMessage = getStr("error.geo" + error.code);
					alert(errorMessage);
					console.log(error);
				};
				$(function () {
				    $.when(mapp.utils.getPosition(geoOptions))
				     .pipe(mapp.utils.getAddress, geoError)
				     .then(mapp.utils.saveAddress);
				});
			};

			mapp.utils.getPosition = function (options) {
				var deferred = $.Deferred();

				navigator.geolocation.getCurrentPosition(
				    deferred.resolve,
				    deferred.reject,
				    options);

				return deferred.promise();
			};
			
			mapp.utils.genPoly = function(latLngArray){
				var o = [];
				for (var i=0; i<latLngArray.length; i++){
					o.push({
						lat: latLngArray[i].lat(),
						lng: latLngArray[i].lng()
					});
				}
				return o;
			}

			mapp.utils.getAddress = function (position) {
			    var deferred = $.Deferred();
			    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			    var geoCoder = new google.maps.Geocoder();
			    geoCoder.geocode({ location: latlng }, deferred.resolve);

			    return deferred.promise();
			};
			
			mapp.utils.genArray = function(pointsStr){
				var points = polyline.decode(pointsStr);
				var arrayLanLng = [];
				for (var i=0; i<points.length; i++){
					arrayLanLng.push(new google.maps.LatLng(points[i][0], points[i][1]));
				}
				return arrayLanLng;
			}

			mapp.utils.saveAddress = function (results, status) {
		        mapp.currentAddress = results[0].formatted_address;
		    };


            mapp.dev = {};

            mapp.dev.debug =  true;
            mapp.dev.x = function(){
            	if (mapp.dev.debug){
            		console.log.apply(console, arguments);
            	}
            }
		</script>
	</body>
</html>